
    img {
        max-width: 100%; 
        height:auto;
        margin:0 auto;
        border-radius: 5%;
      }
      img:hover {
        box-shadow: 12 8px 16px 5 rgba(0,0,0,0.2);
       
      }